.about-page{
    z-index: 1;
    .hidden{
      opacity: 0;
    }
    .show{
      opacity: 1;
      animation-name: fadeIn;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 2s;
      animation-fill-mode: backwards;
    }
    .about-hero{
        animation-name: fadeIn;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 2s;
        animation-fill-mode: backwards;
        display: flex;
        align-items: center;
        height: 100vh;
        border: 1px solid white;
        display: flex;
        justify-content: space-evenly;
        .about-text{
            width: 700px;
        }
        img{
            width: 500px;
            height: auto;
            border: 1px solid white;
        }
    }
    .skills{
        padding: 2rem;
        border: 1px solid white;
        text-align: center;
        .icon-grid {
            display: grid;
            grid-template-columns: auto auto auto;
            background-color: transparent;
            padding: 10px;
            gap: 1rem;
          }
          .grid-item {
            padding: 5rem;
            display: flex;
            background-color: transparent;
            width: auto;
            height: 8rem;
            border: 1px solid #44CFCB;
            padding: 1.5rem;
            font-size: 4.375rem;
            justify-content: center;
            align-items: center;
            text-align: center;
            svg{
                width: 100%;
                height: 100%;
            }
          }
          .grid-item:hover{
            background-color: #44CFCB;
          }
    }
    .tools{
        padding: 2rem;
        border: 1px solid white;
        text-align: center;
        .icon-grid {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            background-color: transparent;
            padding: 10px;
            gap: 1rem;
          }
          .grid-item {
            padding: 5rem;
            display: flex;
            background-color: transparent;
            width: auto;
            height: 8rem;
            border: 1px solid #44CFCB;
            padding: 1.5rem;
            font-size: 4.375rem;
            justify-content: center;
            align-items: center;
            text-align: center;
            svg{
                width: 100%;
                height: 100%;
            }
          }
          .grid-item:hover{
            background-color: #44CFCB;
          }
    }
    .projects{
      padding: 2rem;
      border: 1px solid white;
      text-align: center;
      .projects-grid {
        display: grid;
        grid-template-columns: auto auto;
        background-color: transparent;
        padding: 10px;
        gap: 1rem;
      }
      .grid-item {
        padding: 5rem;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        width: auto;
        height: auto;
        border: 1px solid #44CFCB;
        padding: 1.5rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        h2{
          font-size: 1.5rem;
        }
        p{
          font-size: 1rem;
          width: 500px;
        }
        .preview{
          width: fit-content;
          height: 500px;
          border: 1px solid white;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .project-links{
          margin-top: 1rem;
          display: flex;
          gap: 1rem;
          a{
            text-decoration: none;
            padding: 0.5rem 1rem;
            color: #44CFCB;
            border: 1px solid #44CFCB;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
          }
        }
      }
    }
}