.contact-page{
    z-index: 1;
    animation: fadeIn 1s 2s backwards;
    section{
        .contact-container{
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .contact-left{
                background-color: #122c34;
                width: 60vw;
                font-family: sans-serif;
                border-radius: 1rem;
                border: 1px solid #44cfcb;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 20px;
                hr{
                    width: 100%;
                    opacity: 0.5;
                    color: black;
                }
                input{
                    color: #44cfcb;
                    background-color: #224870;
                    width: 100%;
                    height: 50px;
                    border: none;
                    outline: none;
                    padding-left: 25px;
                    font-weight: 500;
                }
                textarea{
                    color: #44cfcb;
                    background-color: #224870;
                    border: none;
                    resize: none;
                    height: 140px;
                    width: 100%;
                    padding-top: 25px;
                    padding-left: 25px;
                }
                input::placeholder,textarea::placeholder{
                    color: #122c34;
                }
                input:focus,textarea:focus{
                    outline: 0;
                    border-bottom: 2px solid #44cfcb;
                }
                .flat-button{
                    border-radius: 0.5rem;
                    cursor: pointer;
                    width: 100px;
                    height: fit-content;
                    padding: 1rem;
                    color: #44cfcb;
                    background-color: #122c34;
                    border: 1px solid #44cfcb;
                }
                .flat-button:hover{
                    background-color: #44cfcb;
                    color: #122c34;
                }
            }

        }
        .contact-right{
            width: 30vw;
            height: auto;
            img{
                width: 100%;
                height: 100%;
                animation: hover 2s infinite;
            }
            @keyframes hover {
                0%, 100% {
                    transform: translateY(0);
                }
                50% {
                    transform: translateY(-10px); /* Adjust the height of the hover */
                }
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .contact-page {
        section {
            .contact-container {
                .contact-left {
                    height: 100vh;
                    width: 100vw;
                }
                
                .contact-right {
                    display: none;
                }
            }
        }
    }
}